
*{margin: 0;
    padding: 0;}
   
    header{
        background-color: rgb(133, 0, 0);
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 24px 0;
   
    }
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 20px;
        padding: 10px 0;
        font-size: 25px;
        
    }
    .imagem-escola{
        width: 40%;
    }
    .escola{
        background-image: linear-gradient(rgb(131, 11, 11), rgb(212, 44, 44) );
        color:white;
        display:flex;
    }
    .texto-escola{font-size: 20px}
    .titulo-escola{font: size 40px;}
    .estudante{
        background-image: linear-gradient(rgb(206, 20, 20), rgb(122, 30, 30) );
} 
 .estudante-imagem {
        width: 120px;
    }
 .estudante-icone{ width: 20px;
    }
.estudante-titulo{
    text-align: center;
}
   .estudante-div{
    text-align: center;
    padding: 50px 0;
   }     